In [1]:
import os
path = os.getcwd()

In [2]:
import pandas as pd
import numpy as np
# 导入时间模块
import time
import datetime

读取原始文件数据

In [3]:
def load_csv():
    train_agg = pd.read_csv(path + '/data/train/train_agg.csv', sep = '\t')
    train_log = pd.read_csv(path + '/data/train/train_log.csv', sep = '\t')
    train_flg = pd.read_csv(path + '/data/train/train_flg.csv', sep = '\t')

    test_agg = pd.read_csv(path + '/data/test/test_agg.csv', sep = '\t')
    test_log = pd.read_csv(path + '/data/test/test_log.csv', sep = '\t')

    return train_agg, train_log, train_flg, test_agg, test_log

In [4]:
# 读取原始数据
train_agg, train_log, train_flg, test_agg, test_log = load_csv()

train_agg 数据：训练集用户个人属性与信用卡消费数据

In [5]:
train_agg.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,USRID
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,...,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,-0.001843,-0.001311,0.000629,0.001473,-0.000516,0.000663,0.000542,-0.001173,0.000695,0.001036,...,-0.000132,-0.000384,0.003030,-0.000797,-0.001609,0.001796,-0.001817,-0.001736,0.000157,49960.274863
std,0.971491,0.999873,1.000310,0.997673,0.999804,1.001168,1.009012,1.001755,1.005994,1.006116,...,0.972081,0.996350,0.998737,0.998908,0.991190,1.005999,0.992198,0.934959,1.019556,28863.537043
min,-1.925540,-0.906890,-1.266340,-3.457850,-0.684540,-1.840600,-81.658500,-10.745770,-2.626420,-2.152320,...,-0.779540,-0.798640,-66.324820,-0.559170,-0.773980,-0.508900,-21.583880,-0.859970,-1.132130,0.000000
25%,-0.420430,-0.906890,-0.378350,0.289200,-0.684540,-0.630800,-0.296410,-0.187610,-0.507860,-0.530510,...,-0.779540,-0.162010,0.001177,-0.556500,-0.263680,-0.257080,-0.570758,-0.479920,-0.324380,24882.750000
50%,-0.160930,-0.906890,-0.378350,0.289200,-0.684540,-0.227530,-0.296410,-0.187610,-0.410450,-0.365980,...,0.158150,-0.162010,0.349730,-0.417390,-0.263680,-0.257080,-0.397805,-0.303620,-0.324380,49943.500000
75%,0.124520,1.102660,-0.023160,0.289200,1.460830,0.444590,0.039800,-0.162300,0.027870,0.080600,...,0.158150,-0.162010,0.468992,0.072123,0.246620,-0.187180,0.104813,0.098350,0.079490,74976.250000
max,54.126760,1.102660,2.108010,0.289200,1.460830,7.703430,71.651890,66.949190,51.311760,48.734890,...,92.989580,45.945380,0.476200,12.483970,51.786890,36.857460,14.714840,28.502620,76.815630,99999.000000

In [6]:
train_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
V1       80000 non-null float64
V2       80000 non-null float64
V3       80000 non-null float64
V4       80000 non-null float64
V5       80000 non-null float64
V6       80000 non-null float64
V7       80000 non-null float64
V8       80000 non-null float64
V9       80000 non-null float64
V10      80000 non-null float64
V11      80000 non-null float64
V12      80000 non-null float64
V13      80000 non-null float64
V14      80000 non-null float64
V15      80000 non-null float64
V16      80000 non-null float64
V17      80000 non-null float64
V18      80000 non-null float64
V19      80000 non-null float64
V20      80000 non-null float64
V21      80000 non-null float64
V22      80000 non-null float64
V23      80000 non-null float64
V24      80000 non-null float64
V25      80000 non-null float64
V26      80000 non-null float64
V27      80000 non-null float64
V28      80000 non-null float64
V29      80000 non-null float64
V30      80000 non-null float64
USRID    80000 non-null int64
dtypes: float64(30), int64(1)
memory usage: 18.9 MB

In [7]:
train_agg.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,USRID
0,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.70618,-0.29641,-0.18761,-0.48351,-0.53051,...,0.15815,-0.16201,0.4762,-0.55917,-0.77398,-0.25708,-0.27221,-0.51336,-0.32438,14233
1,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.70618,0.37601,-0.10030,-0.16694,-0.31897,...,0.15815,-0.16201,0.4762,-0.50058,-0.77398,-0.25708,-0.37907,-0.52723,-0.32438,790
2,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.57176,0.03980,-0.17089,-0.38610,-0.46000,...,0.15815,-0.16201,0.4762,-0.55127,-0.77398,-0.25708,-0.57113,-0.54758,-0.32438,82308
3,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.30291,-0.29641,-0.18761,-0.45916,-0.53051,...,0.15815,-0.16201,0.4762,-0.26154,-0.77398,0.23440,-0.32873,-0.51951,-0.32438,90325
4,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.16849,-0.29641,-0.18761,-0.50786,-0.60103,...,0.15815,-0.16201,0.4762,-0.55917,-0.77398,-0.25708,-0.57910,-0.54884,-0.32438,71893

train_log 数据：训练集用户APP操作行为日志

In [8]:
train_log.describe()

              USRID       TCH_TYP
count  3.533818e+06  3.533818e+06
mean   4.992006e+04  2.838290e-03
std    2.892967e+04  7.528961e-02
min    2.000000e+00  0.000000e+00
25%    2.463800e+04  0.000000e+00
50%    4.954000e+04  0.000000e+00
75%    7.505800e+04  0.000000e+00
max    9.999800e+04  2.000000e+00

In [9]:
train_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3533818 entries, 0 to 3533817
Data columns (total 4 columns):
USRID      int64
EVT_LBL    object
OCC_TIM    object
TCH_TYP    int64
dtypes: int64(2), object(2)
memory usage: 107.8+ MB

In [10]:
train_log.head()

   USRID        EVT_LBL              OCC_TIM  TCH_TYP
0  10002    163-577-913  2018-03-22 16:31:44        0
1  10002    163-578-914  2018-03-22 16:31:18        0
2  10002   259-924-1525  2018-03-22 16:31:15        0
3  10002  326-1040-1677  2018-03-06 12:08:51        0
4  10002  326-1041-1678  2018-03-09 14:40:22        0

In [11]:
train_log['EVT_LBL'].value_counts()

326-1041-1678    761883
520-1836-3640    565582
0-231-277        286701
359-1234-2004    257231
38-115-117       239437
257-922-1523     186941
326-1040-1677    140601
259-924-1525     129805
326-1042-1703    113888
326-1047-1724    102041
102-314-462       43275
518-1831-3623     30185
163-578-914       29193
139-392-558       28648
163-576-912       25884
163-577-913       24193
518-1830-3622     22171
518-1828-3617     21917
518-1828-3619     21150
326-1043-1704     19562
326-1042-1700     18608
604-2148-4327     16907
326-1046-1718     15711
604-2148-4326     15056
396-1349-2204     12480
438-1484-2644     11867
139-392-564       11220
520-1841-3765     11110
326-1047-1725      9607
520-1861-3843      8711
                  ...
460-1590-3180         1
460-1590-3173         1
520-1836-3687         1
520-1836-3654         1
460-1590-3216         1
460-1590-3211         1
460-1590-3172         1
520-1836-3680         1
520-1836-3651         1
520-1836-3684         1
604-2165-4384         1
10-23-23              1
0-232-290             1
460-1590-3221         1
520-1836-3676         1
520-1836-3685         1
372-1260-2042         1
520-1836-3653         1
0-232-285             1
372-1260-2040         1
460-1590-3184         1
520-1836-3674         1
520-1836-3726         1
0-233-291             1
372-1260-2036         1
604-2144-4321         1
460-1590-3171         1
520-1836-3643         1
520-1836-3707         1
326-1046-1714         1
Name: EVT_LBL, Length: 595, dtype: int64

In [12]:
# 0：APP  1：WEB  2：H5
train_log['TCH_TYP'].value_counts()

0    3528803
2       5015
Name: TCH_TYP, dtype: int64

In [13]:
datetime = train_log['OCC_TIM']
train_log['DAY'] = datetime.apply(lambda x : int(x[8 : 10]))
train_log['DAY'].value_counts()

7     142750
21    137063
26    135864
23    131978
28    125903
6     125439
14    122558
8     121964
1     121912
5     121559
9     120939
20    119532
2     119217
25    115420
24    114091
19    113782
3     112086
4     111300
15    110782
10    109259
13    109079
12    108917
29    106491
30    104231
16    103988
27    100496
17    100488
31     99741
18     95466
11     93844
22     77679
Name: DAY, dtype: int64

In [14]:
train_log.groupby(['USRID', 'DAY']).count()

           EVT_LBL  OCC_TIM  TCH_TYP
USRID DAY
2     13         8        8        8
      14         1        1        1
3     3         24       24       24
      6          8        8        8
      9          6        6        6
      12        12       12       12
      22        11       11       11
      23        21       21       21
      26        20       20       20
      27        25       25       25
      28        30       30       30
4     20        18       18       18
5     5          2        2        2
      13         8        8        8
      20        10       10       10
7     9         16       16       16
      20         8        8        8
      21        32       32       32
      24         8        8        8
      28        12       12       12
11    1          2        2        2
      6         87       87       87
      7          9        9        9
      8          4        4        4
      15         2        2        2
      20         3        3        3
      23        14       14       14
      28         5        5        5
12    3         26       26       26
      9         11       11       11
...            ...      ...      ...
99988 1          9        9        9
      4         21       21       21
      11         9        9        9
      12        63       63       63
      13        50       50       50
      16         6        6        6
      20        20       20       20
      28        16       16       16
99991 2         19       19       19
      4         17       17       17
99992 27        11       11       11
99995 8          7        7        7
      19        13       13       13
      26         7        7        7
99996 1         14       14       14
      4          8        8        8
      6          8        8        8
      7         17       17       17
      8         18       18       18
      9          8        8        8
      12        11       11       11
      15        60       60       60
      17         8        8        8
      19         8        8        8
      21        20       20       20
      22         7        7        7
      26        14       14       14
      29        10       10       10
      30        10       10       10
99998 1          1        1        1

[245287 rows x 3 columns]

train_flg 数据：训练集用户用户是否会在未来一周，购买掌上生活APP上的优惠券

In [15]:
train_flg.describe()

              USRID          FLAG
count  80000.000000  80000.000000
mean   49960.274863      0.039700
std    28863.537043      0.195255
min        0.000000      0.000000
25%    24882.750000      0.000000
50%    49943.500000      0.000000
75%    74976.250000      0.000000
max    99999.000000      1.000000

In [16]:
train_flg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 2 columns):
USRID    80000 non-null int64
FLAG     80000 non-null int64
dtypes: int64(2)
memory usage: 1.2 MB

In [17]:
train_flg.head()

   USRID  FLAG
0      0     0
1     35     0
2     42     0
3     76     0
4     77     0

In [18]:
# 用户是否在未来一周，购买掌上生活APP上的优惠券的数量
train_flg['FLAG'].value_counts()

0    76824
1     3176
Name: FLAG, dtype: int64

test_agg 数据：测试集用户个人属性与信用卡消费数据

In [19]:
test_agg.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,USRID
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.007362,0.005245,-0.002513,-0.005880,0.002086,-0.002652,-0.002177,0.004701,-0.002786,-0.004144,...,0.000524,0.001533,-0.012117,0.003184,0.006422,-0.007170,0.007271,0.006945,-0.000616,50156.400550
std,1.106737,1.000520,0.998808,1.009286,1.000830,0.995360,0.963160,0.992984,0.975704,0.975194,...,1.104691,1.014516,1.004996,1.004403,1.034519,0.975647,1.030635,1.226159,0.917662,28884.324157
min,-1.925540,-0.906890,-1.266340,-3.457850,-0.684540,-1.840600,-1.305030,-0.245670,-0.824430,-0.859580,...,-0.779540,-0.581750,-19.085400,-0.559170,-0.773980,-0.967700,-2.622500,-0.568710,-0.728260,8.000000
25%,-0.394480,-0.906890,-0.378350,0.289200,-0.684540,-0.630800,-0.296410,-0.187610,-0.507860,-0.530510,...,-0.779540,-0.162010,-0.002580,-0.555573,-0.263680,-0.257080,-0.571253,-0.478820,-0.324380,25428.000000
50%,-0.160930,-0.906890,-0.378350,0.289200,-0.684540,-0.227530,-0.296410,-0.187610,-0.410450,-0.365980,...,0.158150,-0.162010,0.349920,-0.414640,-0.263680,-0.257080,-0.399690,-0.308030,-0.324380,50285.500000
75%,0.124520,1.102660,-0.023160,0.289200,1.460830,0.444590,0.039800,-0.158158,0.027870,0.080600,...,0.158150,-0.162010,0.469032,0.070020,0.246620,-0.187320,0.104170,0.102450,0.079490,75112.000000
max,52.907110,1.102660,2.108010,0.289200,1.460830,6.090350,48.453610,32.566140,17.171200,16.698280,...,71.422680,40.499950,0.476200,10.644780,62.503180,34.452210,16.481470,107.668410,33.601070,99997.000000

In [20]:
test_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 31 columns):
V1       20000 non-null float64
V2       20000 non-null float64
V3       20000 non-null float64
V4       20000 non-null float64
V5       20000 non-null float64
V6       20000 non-null float64
V7       20000 non-null float64
V8       20000 non-null float64
V9       20000 non-null float64
V10      20000 non-null float64
V11      20000 non-null float64
V12      20000 non-null float64
V13      20000 non-null float64
V14      20000 non-null float64
V15      20000 non-null float64
V16      20000 non-null float64
V17      20000 non-null float64
V18      20000 non-null float64
V19      20000 non-null float64
V20      20000 non-null float64
V21      20000 non-null float64
V22      20000 non-null float64
V23      20000 non-null float64
V24      20000 non-null float64
V25      20000 non-null float64
V26      20000 non-null float64
V27      20000 non-null float64
V28      20000 non-null float64
V29      20000 non-null float64
V30      20000 non-null float64
USRID    20000 non-null int64
dtypes: float64(30), int64(1)
memory usage: 4.7 MB

In [21]:
test_agg.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,USRID
0,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.03407,-0.29641,-0.18761,-0.50786,-0.60103,...,0.15815,-0.16201,0.4762,0.06979,-0.77398,-0.25708,-0.05001,-0.49396,-0.32438,92595
1,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-1.03407,0.03980,-0.13652,-0.48351,-0.55402,...,0.15815,-0.16201,0.4762,-0.39637,-0.77398,-0.25708,-0.42709,-0.54710,-0.32438,4572
2,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,-0.09311,-0.29641,-0.18761,-0.33740,-0.46000,...,0.15815,-0.16201,0.4762,-0.55917,-0.77398,-0.25708,-0.40814,-0.53054,-0.32438,64470
3,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,0.04132,-0.29641,-0.18761,-0.50786,-0.60103,...,0.15815,-0.16201,0.4762,-0.55917,-0.77398,-0.25708,-0.57910,-0.54868,-0.32438,68958
4,-1.92554,-0.90689,-1.26634,0.2892,-0.68454,0.04132,-0.29641,-0.18761,-0.48351,-0.53051,...,0.15815,-0.16201,0.4762,-0.06183,-0.77398,-0.25708,-0.16073,-0.54884,0.07949,8839

test_log 数据：测试集用户APP操作行为日志

In [22]:
test_log.describe()

               USRID        TCH_TYP
count  891414.000000  891414.000000
mean    50490.885612       0.003334
std     28838.880804       0.081590
min        18.000000       0.000000
25%     25871.000000       0.000000
50%     50713.000000       0.000000
75%     75599.000000       0.000000
max     99972.000000       2.000000

In [23]:
test_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891414 entries, 0 to 891413
Data columns (total 4 columns):
USRID      891414 non-null int64
EVT_LBL    891414 non-null object
OCC_TIM    891414 non-null object
TCH_TYP    891414 non-null int64
dtypes: int64(2), object(2)
memory usage: 27.2+ MB

In [24]:
test_log.head()

   USRID       EVT_LBL              OCC_TIM  TCH_TYP
0   1000   162-574-910  2018-03-23 11:48:51        0
1   1000  257-922-1523  2018-03-14 13:31:01        0
2   1000  257-922-1523  2018-03-23 10:14:31        0
3   1000  257-922-1523  2018-03-23 11:46:23        0
4   1000  259-924-1525  2018-03-23 11:46:25        0

In [25]:
test_log['EVT_LBL'].value_counts()

326-1041-1678    194663
520-1836-3640    142678
0-231-277         72680
359-1234-2004     65088
38-115-117        60308
257-922-1523      46995
326-1040-1677     35797
259-924-1525      32383
326-1042-1703     29444
326-1047-1724     26188
102-314-462       10968
518-1831-3623      7058
139-392-558        6827
163-578-914        6681
163-576-912        5888
163-577-913        5588
518-1830-3622      5304
518-1828-3617      5232
604-2148-4327      5106
518-1828-3619      5035
326-1042-1700      4725
604-2148-4326      4657
326-1043-1704      4322
326-1046-1718      3922
396-1349-2204      3014
520-1841-3765      2826
139-392-564        2759
438-1484-2644      2688
326-1047-1725      2438
520-1861-3843      2293
                  ...
460-1590-3174         1
326-1046-1716         1
460-1590-3189         1
520-1836-3662         1
520-1836-3714         1
460-1590-3161         1
520-1836-3642         1
460-1590-3125         1
460-1590-3172         1
460-1590-3199         1
460-1590-3154         1
460-1590-3162         1
460-1590-3143         1
460-1590-3150         1
520-1836-3742         1
604-2135-4280         1
0-228-274             1
520-1836-3712         1
460-1590-3164         1
520-1849-3797         1
520-1836-3683         1
520-1836-3695         1
460-1590-3135         1
604-2160-4363         1
460-1590-3142         1
372-1260-2037         1
372-1264-2054         1
460-1590-3156         1
520-1836-3664         1
604-2158-4354         1
Name: EVT_LBL, Length: 504, dtype: int64

In [26]:
# 0：APP  1：WEB  2：H5
test_log['TCH_TYP'].value_counts()

0    889928
2      1486
Name: TCH_TYP, dtype: int64