In [1]:
import os
path = os.getcwd()

# 1  读取原始文件数据

In [2]:
import pandas as pd
import numpy as np

# 读取原始文件数据
def load_csv():
    train_agg = pd.read_csv(path + '/data/train/train_agg.csv', sep = '\t')
    train_log = pd.read_csv(path + '/data/train/train_log.csv', sep = '\t')
    train_flg = pd.read_csv(path + '/data/train/train_flg.csv', sep = '\t')

    test_agg = pd.read_csv(path + '/data/test/test_agg.csv', sep = '\t')
    test_log = pd.read_csv(path + '/data/test/test_log.csv', sep = '\t')

    return train_agg, train_log, train_flg, test_agg, test_log

train_agg, train_log, train_flg, test_agg, test_log = load_csv()

In [3]:
l = len(list(set(np.array(train_log['USRID'])))) + len(list(set(np.array(test_log['USRID']))))

# 2  主要从train_log、test_log中提取特征：构造特征提取数据集

In [4]:
# 添加train_log、test_log的临时标签
train_log['LABEL'] = 1
test_log['LABEL'] = 0

In [5]:
data = pd.concat([train_log, test_log], axis = 0)  # 按行合并
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4425232 entries, 0 to 891413
Data columns (total 5 columns):
USRID      int64
EVT_LBL    object
OCC_TIM    object
TCH_TYP    int64
LABEL      int64
dtypes: int64(3), object(2)
memory usage: 202.6+ MB

In [6]:
data.head()

   USRID        EVT_LBL              OCC_TIM  TCH_TYP  LABEL
0  10002    163-577-913  2018-03-22 16:31:44        0      1
1  10002    163-578-914  2018-03-22 16:31:18        0      1
2  10002   259-924-1525  2018-03-22 16:31:15        0      1
3  10002  326-1040-1677  2018-03-06 12:08:51        0      1
4  10002  326-1041-1678  2018-03-09 14:40:22        0      1

In [7]:
# 判断 train_log、test_log 中是否有重合 USRID
len(list(set(np.array(data['USRID'])))) == l

True

# 3  构造特征

3.1 清洗log文件中的'EVT_LBL'、'OCC_TIM'数据

In [8]:
# 点击模块划分
data['EVT_LBL_1'] = data['EVT_LBL'].apply(lambda x: int(x.split('-')[0]))
data['EVT_LBL_2'] = data['EVT_LBL'].apply(lambda x: int(x.split('-')[1]))
data['EVT_LBL_3'] = data['EVT_LBL'].apply(lambda x: int(x.split('-')[2]))

In [9]:
# 触发时间划分：DAY、HOUR、WEEK

# 获取一个月内星期数
def get_week(day):
    day = int(day)
    if day >= 1 and day <= 4:
        return 1
    if day >= 4  and  day <= 11:
        return 2
    if day >= 12 and day <= 18:
        return 3
    if day >= 19 and day <= 25:
        return 4
    if day >= 26:
        return 5

data['DAY'] = data['OCC_TIM'].apply(lambda x: int(x[8 : 10]))
data['HOUR'] = data['OCC_TIM'].apply(lambda x: int(x[11 : 13]))
data['WEEK'] = data['DAY'].apply(get_week)
data.head()

,USRID,EVT_LBL,OCC_TIM,TCH_TYP,LABEL,EVT_LBL_1,EVT_LBL_2,EVT_LBL_3,DAY,HOUR,WEEK
0,10002,163-577-913,2018-03-22 16:31:44,0,1,163,577,913,22,16,4
1,10002,163-578-914,2018-03-22 16:31:18,0,1,163,578,914,22,16,4
2,10002,259-924-1525,2018-03-22 16:31:15,0,1,259,924,1525,22,16,4
3,10002,326-1040-1677,2018-03-06 12:08:51,0,1,326,1040,1677,6,12,2
4,10002,326-1041-1678,2018-03-09 14:40:22,0,1,326,1041,1678,9,14,2

3.2 构造特征

3.2.1 每个用户触发时间对应日期总数，包含一天多次启动的重复日期

In [10]:
feature1 = data.groupby(['USRID'], as_index = False)['OCC_TIM'].agg({'USER_TIM_COUNT': 'count'})
feature1.head()

   USRID  USER_TIM_COUNT
0      2               9
1      3             157
2      4              18
3      5              20
4      7              76

3.2.2 每个用户触发事件日期总数，不包含重复日期

In [11]:
feature2 = data.groupby(['USRID', 'LABEL'], as_index = False)['DAY'].agg({'USER_UNI_TIM_COUNT': 'nunique'})
feature2.head()

   USRID  LABEL  USER_UNI_TIM_COUNT
0      2      1                   2
1      3      1                   9
2      4      1                   1
3      5      1                   3
4      7      1                   5

3.2.3 每个用户多天多次触发事件行为的统计量

In [12]:
feature3 = data[['USRID', 'DAY']]
feature3['DAY'] = feature3['DAY'].astype('str')
feature3 = feature3.groupby(['USRID'])['DAY'].agg(lambda x: ':'.join(x)).reset_index()
print(feature3.info())
feature3.head()

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48875 entries, 0 to 48874
Data columns (total 2 columns):
USRID    48875 non-null int64
DAY      48875 non-null object
dtypes: int64(1), object(1)
memory usage: 763.7+ KB
None

   USRID                                                DAY
0      2                         13:13:13:14:13:13:13:13:13
1      3  12:28:3:12:23:28:22:3:23:27:3:23:3:3:3:3:3:22:...
2      4  20:20:20:20:20:20:20:20:20:20:20:20:20:20:20:2...
3      5  20:13:20:13:20:20:5:20:13:20:13:20:13:13:20:20...
4      7  9:9:20:21:24:21:21:9:21:9:21:21:20:28:9:21:9:2...

In [13]:
# 导入统计分析包
import scipy.stats as sp

# 用户多天多次触发事件行为的统计量
def get_time_gap(strs, parm):
    time = strs.split(':')
    time = list(set(time))
    time = sorted(list(map(lambda x : int(x), time)), reverse = True)
    time_gap = []
    #用户只在当天活跃
    if len(time) == 1:
        return -1

    for index, value in enumerate(time):
        if index <= len(time) - 2:
            # 获取启动相邻日期的间隔
            gap = time[index] - time[index + 1]
            time_gap.append(gap)

    if parm == '1':    # 平均值
        return np.mean(time_gap)
    elif parm == '2':  # 最大值
        return np.max(time_gap)
    elif parm == '3':  # 最小值
        return np.min(time_gap)
    elif parm == '4':  # 标准差
        return np.std(time_gap)
    elif parm == '5':  # 峰度
        return sp.stats.skew(time_gap)
    elif parm == '6':  # 偏度
        return sp.stats.kurtosis(time_gap)
    
# 均值
feature3['TIME_GAP_MEAN'] = feature3['DAY'].apply(get_time_gap, args = ('1'))
# 最大
feature3['TIME_GAP_MAX'] = feature3['DAY'].apply(get_time_gap, args = ('2'))
# 最小
feature3['TIME_GAP_MIN'] = feature3['DAY'].apply(get_time_gap, args = ('3'))
# 方差
feature3['TIME_GAP_STD'] = feature3['DAY'].apply(get_time_gap, args = ('4'))
# 锋度
feature3['TIME_GAP_SKEW'] = feature3['DAY'].apply(get_time_gap, args = ('5'))
# 偏度
feature3['TIME_GAP_KURT'] = feature3['DAY'].apply(get_time_gap, args = ('6'))

In [14]:
# 日均行为次数
feature3['ACT_DATE_MEAN'] = feature3['DAY'].apply(
    lambda x: len(x.split(':')) / len(set(x.split(':')))
)
# 行为平均日期
feature3['DATE_ACT_MEAN'] = feature3['DAY'].apply(
    lambda x: np.sum([int(ele) for ele in x.split(':')]) / len(x.split(":"))
)

In [15]:
# 导入Counter工具用于支持便捷和快速地计数
from collections import Counter

# 用户是否当天有多次触发事件
def cur_day_repeat_count(strs):
    time = strs.split(':')
    time = dict(Counter(time))  # 生成字典{key: value}：key为日期、value为日期出现次数
    time = sorted(time.items(), key = lambda item: item[1], reverse = False)  # 按照value升序排序
    # 一天一次触发事件
    if (len(time) == 1) & (time[0][1] == 1):  # 只有一天触发事件，且当天 value == 1
        return 0
    # 一天多次触发事件
    elif (len(time) == 1) & (time[0][1] > 1): # 只有一天触发事件，且当天 value > 1
        return 1
    # 多天多次触发事件
    elif (len(time) > 1) & (time[0][1] == 1): # 多天触发事件，且第一次触发事件 value > 1
        return 2
    else:
        return 3
    
# 用户是否当天有多次触发事件
feature3['DATE_REPEAT_COUNT'] = feature3['DAY'].apply(cur_day_repeat_count)

In [16]:
# 是否连续几天触发事件
def get_continue_launch_count(strs, parm):
    time = strs.split(':')
    time = dict(Counter(time))
    time = sorted(time.items(), key = lambda item: item[0], reverse = False)
    key_list = []  # 日期升序
    value_list = []
    if len(time) == 1:  # 只有一天启动
        return -2
    for key, value in dict(time).items():
        key_list.append(int(key))
        value_list.append(int(value))

    # 连续几天触发事件
    if np.mean(np.diff(key_list, 1)) == 1:  # key值一阶差分
        if parm == '1':
            return np.mean(value_list)
        elif parm == '2':
            return np.max(value_list)
        elif parm == '3':
            return np.min(value_list)
        elif parm == '4':
            return np.sum(value_list)
        elif parm == '5':
            return np.std(value_list)
    else:
        return -1
    
feature3['ACT_COUNT_CON_DAY_MEAN'] = feature3['DAY'].apply(get_continue_launch_count, args = ('1'))
feature3['ACT_COUNT_CON_DAY_MAX'] = feature3['DAY'].apply(get_continue_launch_count, args = ('2'))
feature3['ACT_COUNT_CON_DAY_MIN'] = feature3['DAY'].apply(get_continue_launch_count, args = ('3'))
feature3['ACT_COUNT_CON_DAY_SUM'] = feature3['DAY'].apply(get_continue_launch_count, args = ('4'))
feature3['ACT_COUNT_CON_DAY_STD'] = feature3['DAY'].apply(get_continue_launch_count, args = ('5'))

In [17]:
# 连续触发事件最多天数
def get_lianxu_day(day_list):
    time = day_list.split(':')
    time = list(map(lambda x : int(x), time))
    m = np.array(time)
    m = list(set(m))
    if len(m) == 0:  # 无触发事件
        return -30
    if len(m) == 1:  # 只有一天触发事件
        return -1
    
    n = np.where(np.diff(m) == 1)[0]  # 获取连续触发事件起始日期在m中的索引
    i = 0
    result = []
    while i < len(n) - 1:
        state = 1
        while n[i + 1] - n[i] == 1:   # 连续触发事件起始日期连续时，state累加
            state += 1
            i += 1
            if i == len(n) - 1:
                break
        if state == 1:
            i += 1
            result.append(2)
        else:
            i += 1
            result.append(state + 1)
    if len(n) == 1:
        result.append(2)
    if len(result) != 0:
        return np.max(result)  # 输出最大连续触发事件天数

feature3['ACT_COUNT_MAX'] = feature3['DAY'].apply(get_lianxu_day)
del feature3['DAY']

feature3.head()

,USRID,TIME_GAP_MEAN,TIME_GAP_MAX,TIME_GAP_MIN,TIME_GAP_STD,TIME_GAP_SKEW,TIME_GAP_KURT,ACT_DATE_MEAN,DATE_ACT_MEAN,DATE_REPEAT_COUNT,ACT_COUNT_CON_DAY_MEAN,ACT_COUNT_CON_DAY_MAX,ACT_COUNT_CON_DAY_MIN,ACT_COUNT_CON_DAY_SUM,ACT_COUNT_CON_DAY_STD,ACT_COUNT_MAX
0,2,1.000,1,1,0.00000,0.000000,-3.000000,4,13,2,4.5,8,1,9,3.5,2.0
1,3,3.125,10,1,2.75851,1.763630,1.954901,17,19,3,-1.0,-1,-1,-1,-1.0,3.0
2,4,-1.000,-1,-1,-1.00000,-1.000000,-1.000000,18,20,1,-2.0,-2,-2,-2,-2.0,-1.0
3,5,7.500,8,7,0.50000,0.000000,-2.000000,6,15,3,-1.0,-1,-1,-1,-1.0,NaN
4,7,4.750,11,1,3.76663,0.868396,-0.847173,15,19,3,-1.0,-1,-1,-1,-1.0,2.0

In [18]:
feature3.info()  # ACT_COUNT_MAX 属性有空值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48875 entries, 0 to 48874
Data columns (total 16 columns):
USRID                     48875 non-null int64
TIME_GAP_MEAN             48875 non-null float64
TIME_GAP_MAX              48875 non-null int64
TIME_GAP_MIN              48875 non-null int64
TIME_GAP_STD              48875 non-null float64
TIME_GAP_SKEW             48875 non-null float64
TIME_GAP_KURT             48875 non-null float64
ACT_DATE_MEAN             48875 non-null int64
DATE_ACT_MEAN             48875 non-null int64
DATE_REPEAT_COUNT         48875 non-null int64
ACT_COUNT_CON_DAY_MEAN    48875 non-null float64
ACT_COUNT_CON_DAY_MAX     48875 non-null int64
ACT_COUNT_CON_DAY_MIN     48875 non-null int64
ACT_COUNT_CON_DAY_SUM     48875 non-null int64
ACT_COUNT_CON_DAY_STD     48875 non-null float64
ACT_COUNT_MAX             32059 non-null float64
dtypes: float64(7), int64(9)
memory usage: 6.0 MB

3.2.4 各用户点击各模块行为的发生天数

In [19]:
feature4 = data.groupby(['USRID'], as_index = False)['EVT_LBL_1'].agg({'EVT_LBL_1_COUNT': 'count'})
feature5 = data.groupby(['USRID'], as_index = False)['EVT_LBL_2'].agg({'EVT_LBL_2_COUNT': 'count'})
feature6 = data.groupby(['USRID'], as_index = False)['EVT_LBL_3'].agg({'EVT_LBL_3_COUNT': 'count'})
feature4.head()

   USRID  EVT_LBL_1_COUNT
0      2                9
1      3              157
2      4               18
3      5               20
4      7               76

In [20]:
feature5.head()

   USRID  EVT_LBL_2_COUNT
0      2                9
1      3              157
2      4               18
3      5               20
4      7               76

In [21]:
feature6.head()

   USRID  EVT_LBL_3_COUNT
0      2                9
1      3              157
2      4               18
3      5               20
4      7               76

3.2.5 判断时期是否为高峰日(周末)

In [22]:
higt_act_day_list = [3, 4, 10, 11, 17, 18, 24, 25]
feature7 = data[['USRID', 'DAY']]
feature7['IS_HIGT_ACT'] = feature7['DAY'].apply(lambda x: 1 if x in higt_act_day_list else 0)
feature7 = feature7.drop_duplicates(subset = ['USRID'])
feature7.head()

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

    USRID  DAY  IS_HIGT_ACT
0   10002   22            0
10  10003   21            0
30  10010   11            1
36  10014   26            0
37   1002   19            0

3.2.6 用户每天启动次数统计量

In [23]:
# 各用户各日期启动次数
feature8 = data.groupby(['USRID','DAY'], as_index = False)['TCH_TYP'].agg({'ACT_COUNT_PER_DAY': 'count'})
feature8_copy = feature8.copy()

# 用户平均每天启动次数
feature9 = feature8_copy.groupby(['USRID'],as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_MEAN': 'mean'})
# 用户启动次数最大值
feature10 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_MAX': 'max'})
# 用户启动次数最小值
feature11 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_MIN': 'min'})
# 用户每天启动次数的众值
feature12 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_MODE': lambda x: x.value_counts().index[0]})
# 方差
feature13 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_STD': np.std})
# 峰度
feature14 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_SKEW': sp.stats.skew})
# 偏度
feature15 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_KURT': sp.stats.kurtosis})
# 中位数
feature16 = feature8_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_DAY'].agg({'ACT_COUNT_PER_DAY_MEDIAN': np.median})
del feature8_copy

feature8.head()

   USRID  DAY  ACT_COUNT_PER_DAY
0      2   13                  8
1      2   14                  1
2      3    3                 24
3      3    6                  8
4      3    9                  6

In [24]:
feature9.head()

   USRID  ACT_COUNT_PER_DAY_MEAN
0      2                4.500000
1      3               17.444444
2      4               18.000000
3      5                6.666667
4      7               15.200000

In [25]:
feature10.head()

   USRID  ACT_COUNT_PER_DAY_MAX
0      2                      8
1      3                     30
2      4                     18
3      5                     10
4      7                     32

In [26]:
feature11.head()

   USRID  ACT_COUNT_PER_DAY_MIN
0      2                      1
1      3                      6
2      4                     18
3      5                      2
4      7                      8

In [27]:
feature12.head()

   USRID  ACT_COUNT_PER_DAY_MODE
0      2                       1
1      3                      25
2      4                      18
3      5                      10
4      7                       8

In [28]:
feature13.head()

   USRID  ACT_COUNT_PER_DAY_STD
0      2               4.949747
1      3               8.427798
2      4                    NaN
3      5               4.163332
4      7               9.959920

In [29]:
feature14.head()

   USRID  ACT_COUNT_PER_DAY_SKEW
0      2                0.000000
1      3               -0.003637
2      4                0.000000
3      5               -0.528005
4      7                1.121085

In [30]:
feature15.head()

   USRID  ACT_COUNT_PER_DAY_KURT
0      2               -2.000000
1      3               -1.386812
2      4               -3.000000
3      5               -1.500000
4      7               -0.296306

In [31]:
feature16.head()

   USRID  ACT_COUNT_PER_DAY_MEDIAN
0      2                       4.5
1      3                      20.0
2      4                      18.0
3      5                       8.0
4      7                      12.0

3.2.7 格式化时间

In [32]:
# 导入时间模块
import time
import datetime

feature17 = data[['USRID', 'OCC_TIM']]
feature17['OCC_TIM'] = feature17['OCC_TIM'].apply(lambda x: time.mktime(time.strptime(x, "%Y-%m-%d %H:%M:%S")))

log = feature17.sort_values(['USRID', 'OCC_TIM'])
log['NEXT_TIME'] = log.groupby(['USRID'])['OCC_TIM'].diff(-1).apply(np.abs)
log = log.groupby(['USRID'], as_index = False)['NEXT_TIME'].agg(
    {
        'NEXT_TIME_MEAN': np.mean,
        'NEXT_TIME_STD': np.std,
        'NEXT_TIME_MIN': np.min,
        'NEXT_TIME_MAX': np.max
    }
)

del feature17
log.head()

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   USRID  NEXT_TIME_MEAN  NEXT_TIME_STD  NEXT_TIME_MAX  NEXT_TIME_MIN
0      2     8995.125000   25265.607094        71524.0            0.0
1      3    13918.692308   78473.735576       837471.0            0.0
2      4       10.941176      17.020101           64.0            0.0
3      5    67460.421053  202051.360194       649940.0            0.0
4      7    22041.040000  120814.312098       959109.0            0.0

3.2.8 每周平均启动次数

In [33]:
feature18 = data.groupby(['USRID', 'WEEK'], as_index = False)['TCH_TYP'].agg({'ACT_COUNT_PER_WEEK': 'count'})
feature18_copy = feature18.copy()
feature18.head()

   USRID  WEEK  ACT_COUNT_PER_WEEK
0      2     3                   9
1      3     1                  24
2      3     2                  14
3      3     3                  12
4      3     4                  32

In [34]:
# 用户平均每周启动次数
feature19 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_MEAN': 'mean'})
# 用户启动次数最大值
feature20 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_MAX': 'max'})
# 用户启动次数最小值
feature21 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_MIN': 'min'})
# 用户每周启动次数的众值
feature22 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_MODE': lambda x: x.value_counts().index[0]})
# 方差
feature23 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_STD': np.std})
# 峰度
feature24 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_SKEW': sp.stats.skew})
# 偏度
feature25 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_KURT': sp.stats.kurtosis})
# 中位数
feature26 = feature18_copy.groupby(['USRID'], as_index = False)['ACT_COUNT_PER_WEEK'].agg({'ACT_COUNT_PER_WEEK_MEDIAN': np.median})
del feature18_copy

feature19.head()

   USRID  ACT_COUNT_PER_WEEK_MEAN
0      2                 9.000000
1      3                31.400000
2      4                18.000000
3      5                 6.666667
4      7                25.333333

In [35]:
feature20.head()

   USRID  ACT_COUNT_PER_WEEK_MAX
0      2                       9
1      3                      75
2      4                      18
3      5                      10
4      7                      48

In [36]:
feature21.head()

   USRID  ACT_COUNT_PER_WEEK_MIN
0      2                       9
1      3                      12
2      4                      18
3      5                       2
4      7                      12

In [37]:
feature22.head()

   USRID  ACT_COUNT_PER_WEEK_MODE
0      2                        9
1      3                       14
2      4                       18
3      5                       10
4      7                       48

In [38]:
feature23.head()

   USRID  ACT_COUNT_PER_WEEK_STD
0      2                     NaN
1      3               25.667100
2      4                     NaN
3      5                4.163332
4      7               19.731531

In [39]:
feature24.head()

   USRID  ACT_COUNT_PER_WEEK_SKEW
0      2                 0.000000
1      3                 1.155548
2      4                 0.000000
3      5                -0.528005
4      7                 0.674555

In [40]:
feature25.head()

   USRID  ACT_COUNT_PER_WEEK_KURT
0      2                -3.000000
1      3                -0.227964
2      4                -3.000000
3      5                -1.500000
4      7                -1.500000

In [41]:
feature26.head()

   USRID  ACT_COUNT_PER_WEEK_MEDIAN
0      2                        9.0
1      3                       24.0
2      4                       18.0
3      5                        8.0
4      7                       16.0

3.2.9 分析周末前两天启动统计特征

In [42]:
# 离周末越近，消费的可能性越大大，统计前2天与周末的特征
stu_day_list = [3, 10, 17, 24]
sun_day_list = [4, 11, 18, 25]
before_day = []
for i in stu_day_list:
    if i - 2 > 0:
        before_day.append(i - 2)
        before_day.append(i - 1)
        before_day.append(i)
    elif i - 1 > 0:
        before_day.append(i - 1)
        before_day.append(i)
    else:
        before_day.append(i)
for i in sun_day_list:
    before_day.append(i)
before_day.sort()

In [43]:
before_date = pd.DataFrame()
for i in before_day:
    before_date = pd.concat([before_date, data[data['DAY'] == int(i)]], axis = 0)

In [44]:
before_date_copy = before_date.copy()
feature1_before = before_date_copy.groupby(['USRID'], as_index = False)['OCC_TIM'].agg({'USER_TIM_COUNT_BEFORE': 'count'})
feature2_before = before_date_copy.groupby(['USRID'], as_index = False)['DAY'].agg({'USER_UNI_TIM_COUNT_BEFORE': 'nunique'})

feature1_before.head()

   USRID  USER_TIM_COUNT_BEFORE
0      3                     62
1      7                     24
2     11                     22
3     12                     37
4     13                     54

In [45]:
feature2_before.head()

   USRID  USER_UNI_TIM_COUNT_BEFORE
0      3                          4
1      7                          2
2     11                          4
3     12                          2
4     13                          3

In [46]:
feature3_before = before_date_copy[['USRID', 'DAY']]
feature3_before['DAY'] = feature3_before['DAY'].astype('str')
feature3_before = feature3_before.groupby(['USRID'])['DAY'].agg(lambda x: ':'.join(x)).reset_index()

# 用户是否多天有多次启动(均值)
feature3_before['TIME_GAP_MEAN_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('1'))
# 最大
feature3_before['TIME_GAP_MAX_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('2'))
# 最小
feature3_before['TIME_GAP_MIN_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('3'))
# 方差
feature3_before['TIME_GAP_STD_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('4'))
# 锋度
feature3_before['TIME_GAP_SKEW_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('5'))
# 偏度
feature3_before['TIME_GAP_KURT_BEFORE'] = feature3_before['DAY'].apply(get_time_gap, args = ('6'))

# 平均行为次数
feature3_before['ACT_DATE_MEAN_BEFORE'] = feature3_before['DAY'].apply(lambda x: len(x.split(':')) / len(set(x.split(':'))))
# 平均行为日期
feature3_before['DATE_ACT_MEAN_BEFORE'] = feature3_before['DAY'].apply(lambda x: np.sum([int(ele) for ele in x.split(':')]) / len(x.split(':')))
# 用户是否当天有多次启动
feature3_before['DATE_REPEAT_COUNT_BEFORE'] = feature3_before['DAY'].apply(cur_day_repeat_count)
# 连续几天启动次数的均值，
feature3_before['ACT_COUNT_CON_DAY_MEAN_BEFORE'] = feature3_before['DAY'].apply(get_continue_launch_count, args = ('1'))
# 最大值，
feature3_before['ACT_COUNT_CON_DAY_MAX_BEFORE'] = feature3_before['DAY'].apply(get_continue_launch_count, args = ('2'))
# 最小值
feature3_before['ACT_COUNT_CON_DAY_MIN_BEFORE'] = feature3_before['DAY'].apply(get_continue_launch_count, args = ('3'))
# 次数
feature3_before['ACT_COUNT_CON_DAY_SUM_BEFORE'] = feature3_before['DAY'].apply(get_continue_launch_count, args = ('4'))
# 方差
feature3_before['ACT_COUNT_CON_DAY_STD_BEFORE'] = feature3_before['DAY'].apply(get_continue_launch_count, args = ('5'))

feature3_before['ACT_COUNT_MAX_BEFORE'] = feature3_before['DAY'].apply(get_lianxu_day)
del feature3_before['DAY']

feature3_before.head()

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,USRID,TIME_GAP_MEAN_BEFORE,TIME_GAP_MAX_BEFORE,TIME_GAP_MIN_BEFORE,TIME_GAP_STD_BEFORE,TIME_GAP_SKEW_BEFORE,TIME_GAP_KURT_BEFORE,ACT_DATE_MEAN_BEFORE,DATE_ACT_MEAN_BEFORE,DATE_REPEAT_COUNT_BEFORE,ACT_COUNT_CON_DAY_MEAN_BEFORE,ACT_COUNT_CON_DAY_MAX_BEFORE,ACT_COUNT_CON_DAY_MIN_BEFORE,ACT_COUNT_CON_DAY_SUM_BEFORE,ACT_COUNT_CON_DAY_STD_BEFORE,ACT_COUNT_MAX_BEFORE
0,3,6.666667,13,1,4.921608,0.200700,-1.5,15,13,3,-1.0,-1,-1,-1,-1.0,2.0
1,7,15.000000,15,15,0.000000,0.000000,-3.0,12,14,3,-1.0,-1,-1,-1,-1.0,NaN
2,11,7.333333,8,7,0.471405,0.707107,-1.5,5,17,3,-1.0,-1,-1,-1,-1.0,NaN
3,12,6.000000,6,6,0.000000,0.000000,-3.0,18,4,3,-1.0,-1,-1,-1,-1.0,NaN
4,13,1.000000,1,1,0.000000,0.000000,-3.0,18,2,3,-1.0,-1,-1,-1,-1.0,3.0

In [47]:
# 用户发生行为的天数
feature4_before = before_date.groupby(['USRID'], as_index = False)['EVT_LBL_1'].agg({'EVT_LBL_1_COUNT_BEFORE': 'count'})
feature5_before = before_date.groupby(['USRID'], as_index = False)['EVT_LBL_2'].agg({'EVT_LBL_2_BEFORE': 'count'})
feature6_before = before_date.groupby(['USRID'], as_index = False)['EVT_LBL_3'].agg({'EVT_LBL_3_BEFORE': 'count'})

feature4_before.head()

   USRID  EVT_LBL_1_COUNT_BEFORE
0      3                      62
1      7                      24
2     11                      22
3     12                      37
4     13                      54

In [48]:
feature5_before.head()

   USRID  EVT_LBL_2_BEFORE
0      3                62
1      7                24
2     11                22
3     12                37
4     13                54

In [49]:
feature6_before.head()

   USRID  EVT_LBL_3_BEFORE
0      3                62
1      7                24
2     11                22
3     12                37
4     13                54

In [50]:
del before_date
del before_date_copy

3.2.10 交叉表

In [51]:
feature27 = pd.crosstab(data['USRID'], data['TCH_TYP']).reset_index()
feature28 = pd.crosstab(data['USRID'], data['EVT_LBL_1']).reset_index()
feature29 = pd.crosstab(data['USRID'], data['EVT_LBL_2']).reset_index()
feature30 = pd.crosstab(data['USRID'], data['EVT_LBL_3']).reset_index()
feature31 = pd.crosstab(data['USRID'], data['HOUR']).reset_index()
feature32 = pd.crosstab(data['USRID'], data['WEEK']).reset_index()

feature27.head()

TCH_TYP  USRID    0  2
0            2    9  0
1            3  157  0
2            4   18  0
3            5   20  0
4            7   76  0

In [52]:
feature28.head()

EVT_LBL_1,USRID,0,10,38,102,139,162,163,181,257,...,359,372,396,438,460,508,518,520,540,604
0,2,1,0,1,0,0,0,0,0,0,...,3,0,0,0,0,0,0,1,0,0
1,3,12,0,8,0,3,0,0,0,3,...,16,2,4,0,0,0,0,33,6,7
2,4,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,3,0,0
3,5,2,0,3,0,0,0,0,0,0,...,2,0,0,0,0,0,0,3,0,0
4,7,6,0,6,0,0,0,0,0,2,...,6,0,0,0,0,0,0,6,0,0

In [53]:
feature29.head()

EVT_LBL_2,USRID,14,15,16,17,18,19,20,21,22,...,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,1,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
feature30.head()

EVT_LBL_3,USRID,14,15,16,17,18,19,20,21,22,...,4389,4390,4391,4392,4393,4394,4395,4396,4397,4398
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
feature31.head()

HOUR,USRID,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,8
1,3,0,0,0,0,0,0,0,0,0,...,0,21,0,15,0,0,16,6,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,10,0,0,0,2,0,0,0
4,7,0,0,0,0,0,0,0,0,36,...,0,0,0,0,0,0,0,0,0,0

In [56]:
feature32.head()

WEEK  USRID   1   2   3   4   5
0         2   0   0   9   0   0
1         3  24  14  12  32  75
2         4   0   0   0  18   0
3         5   0   2   8  10   0
4         7   0  16   0  48  12

# 4 汇总特征数据

In [57]:
data = data[['USRID', 'LABEL']]
data = data.drop_duplicates(subset = 'USRID')
data.head()

    USRID  LABEL
0   10002      1
10  10003      1
30  10010      1
36  10014      1
37   1002      1

In [58]:
# 每天的平均消费次数统计量
data = pd.merge(data, feature1, on = ['USRID'], how = 'left')
data = pd.merge(data, feature2, on = ['USRID'], how = 'left')
data = pd.merge(data, feature3, on = ['USRID'], how = 'left')
data = pd.merge(data, feature4, on = ['USRID'], how = 'left')
data = pd.merge(data, feature5, on = ['USRID'], how = 'left')
data = pd.merge(data, feature6, on = ['USRID'], how = 'left')
data = pd.merge(data, feature7, on = ['USRID'], how = 'left')
data = pd.merge(data, feature8, on = ['USRID'], how = 'left')
data = pd.merge(data, feature9, on = ['USRID'], how = 'left')
data = pd.merge(data, feature10, on = ['USRID'], how = 'left')
data = pd.merge(data, feature11, on = ['USRID'], how = 'left')
data = pd.merge(data, feature12, on = ['USRID'], how = 'left')
data = pd.merge(data, feature13, on = ['USRID'], how = 'left')
data = pd.merge(data, feature14, on = ['USRID'], how = 'left')
data = pd.merge(data, feature15, on = ['USRID'], how = 'left')
data = pd.merge(data, feature16, on = ['USRID'], how = 'left')

# 各用户下一次启动APP与本次的时间间隔统计量
data = pd.merge(data, log, on = ['USRID'], how = 'left')

# 交叉表
data = pd.merge(data, feature27, on = ['USRID'], how = 'left')
data = pd.merge(data, feature28, on = ['USRID'], how = 'left')
data = pd.merge(data, feature29, on = ['USRID'], how = 'left')
data = pd.merge(data, feature30, on = ['USRID'], how = 'left')
data = pd.merge(data, feature31, on = ['USRID'], how = 'left')
data = pd.merge(data, feature32, on = ['USRID'], how = 'left')

# 每周的平均消费次数统计量
data = pd.merge(data, feature18, on = ['USRID'], how = 'left')
data = pd.merge(data, feature19, on = ['USRID'], how = 'left')
data = pd.merge(data, feature20, on = ['USRID'], how = 'left')
data = pd.merge(data, feature21, on = ['USRID'], how = 'left')
data = pd.merge(data, feature22, on = ['USRID'], how = 'left')
data = pd.merge(data, feature23, on = ['USRID'], how = 'left')
data = pd.merge(data, feature24, on = ['USRID'], how = 'left')
data = pd.merge(data, feature25, on = ['USRID'], how = 'left')
data = pd.merge(data, feature26, on = ['USRID'], how = 'left')

# 周末及前两天启动统计特征
data = pd.merge(data, feature1_before, on = ['USRID'], how = 'left')
data = pd.merge(data, feature2_before, on = ['USRID'], how = 'left')
data = pd.merge(data, feature3_before, on = ['USRID'], how = 'left')
data = pd.merge(data, feature4_before, on = ['USRID'], how = 'left')
data = pd.merge(data, feature5_before, on = ['USRID'], how = 'left')
data = pd.merge(data, feature6_before, on = ['USRID'], how = 'left')

data.head()

,USRID,LABEL_x,USER_TIM_COUNT,LABEL_y,USER_UNI_TIM_COUNT,TIME_GAP_MEAN,TIME_GAP_MAX,TIME_GAP_MIN,TIME_GAP_STD,TIME_GAP_SKEW,...,DATE_REPEAT_COUNT_BEFORE,ACT_COUNT_CON_DAY_MEAN_BEFORE,ACT_COUNT_CON_DAY_MAX_BEFORE,ACT_COUNT_CON_DAY_MIN_BEFORE,ACT_COUNT_CON_DAY_SUM_BEFORE,ACT_COUNT_CON_DAY_STD_BEFORE,ACT_COUNT_MAX_BEFORE,EVT_LBL_1_COUNT_BEFORE,EVT_LBL_2_BEFORE,EVT_LBL_3_BEFORE
0,10002,1,129,1,11,2.5,7,1,1.857418,1.217211,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
1,10002,1,129,1,11,2.5,7,1,1.857418,1.217211,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
2,10002,1,129,1,11,2.5,7,1,1.857418,1.217211,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
3,10002,1,129,1,11,2.5,7,1,1.857418,1.217211,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
4,10002,1,129,1,11,2.5,7,1,1.857418,1.217211,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0

# 5 获得特征提取后的训练集与测试集

In [ ]:
data = data.drop(['LABEL_y'], axis = 1)

In [63]:
data.rename(columns = {'LABEL_x': 'LABEL'}, inplace = True)
data.head()

,USRID,LABEL,USER_TIM_COUNT,USER_UNI_TIM_COUNT,TIME_GAP_MEAN,TIME_GAP_MAX,TIME_GAP_MIN,TIME_GAP_STD,TIME_GAP_SKEW,TIME_GAP_KURT,...,DATE_REPEAT_COUNT_BEFORE,ACT_COUNT_CON_DAY_MEAN_BEFORE,ACT_COUNT_CON_DAY_MAX_BEFORE,ACT_COUNT_CON_DAY_MIN_BEFORE,ACT_COUNT_CON_DAY_SUM_BEFORE,ACT_COUNT_CON_DAY_STD_BEFORE,ACT_COUNT_MAX_BEFORE,EVT_LBL_1_COUNT_BEFORE,EVT_LBL_2_BEFORE,EVT_LBL_3_BEFORE
0,10002,1,129,11,2.5,7,1,1.857418,1.217211,0.701953,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
1,10002,1,129,11,2.5,7,1,1.857418,1.217211,0.701953,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
2,10002,1,129,11,2.5,7,1,1.857418,1.217211,0.701953,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
3,10002,1,129,11,2.5,7,1,1.857418,1.217211,0.701953,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0
4,10002,1,129,11,2.5,7,1,1.857418,1.217211,0.701953,...,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,80.0,80.0,80.0

In [64]:
train_log = data[data['LABEL'] == 1]  # 获取特征提取后的train_log
test_log = data[data['LABEL'] == 0]   # 获取特征提取后的test_log
    
# 删除train_log、test_log的临时标签
del train_log['LABEL']
del test_log['LABEL']

In [67]:
all_train = pd.merge(train_flg, train_agg, on = ['USRID'], how = 'left')
train = pd.merge(all_train, train_log, on = 'USRID', how = 'left')
test = pd.merge(test_agg, test_log, on = 'USRID', how = 'left')

KeyboardInterrupt:

In [68]:
del train_agg
del train_log
del train_flg
del test_agg
del test_log
del all_train

In [ ]:
train.head()

,USRID,FLAG,V1,V2,V3,V4,V5,V6,V7,V8,...,DATE_REPEAT_COUNT_BEFORE,ACT_COUNT_CON_DAY_MEAN_BEFORE,ACT_COUNT_CON_DAY_MAX_BEFORE,ACT_COUNT_CON_DAY_MIN_BEFORE,ACT_COUNT_CON_DAY_SUM_BEFORE,ACT_COUNT_CON_DAY_STD_BEFORE,ACT_COUNT_MAX_BEFORE,EVT_LBL_1_COUNT_BEFORE,EVT_LBL_2_BEFORE,EVT_LBL_3_BEFORE
0,0,0,0.09857,-0.90689,0.86483,0.2892,-0.68454,-0.6308,0.03980,-0.00299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35,0,0.25427,1.10266,2.10801,0.2892,-0.68454,-0.6308,-0.29641,-0.18761,...,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,30.0,30.0,30.0
2,35,0,0.25427,1.10266,2.10801,0.2892,-0.68454,-0.6308,-0.29641,-0.18761,...,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,30.0,30.0,30.0
3,35,0,0.25427,1.10266,2.10801,0.2892,-0.68454,-0.6308,-0.29641,-0.18761,...,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,30.0,30.0,30.0
4,35,0,0.25427,1.10266,2.10801,0.2892,-0.68454,-0.6308,-0.29641,-0.18761,...,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,30.0,30.0,30.0

In [ ]:
train.info()

In [ ]:
test.head()

In [ ]:
test.info()

In [ ]:
# 输出特征提取后的train、test数据
train.to_csv(path + '/features/train.csv', sep = '\t', index = None)
test.to_csv(path + '/features/test.csv', sep = '\t', index = None)